* {
    margin: 0;
    padding: 0;
}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.logo{
    display: inline-block;
    margin: 6px 0;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul a{
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
header nav ul{
    list-style: none;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    padding: 9px 20px;
    font-size: 16px;
    color: #000000;
}
.main_banner{
    background-image: url("../Images/12.jpg");
    background-size: cover;
    height: 87vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 71px;
    position: relative;
}
.main_banner .container{
    margin: inherit;
}
.main_banner h3{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner h1{
    font-family: 'Poppins';
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.main_banner p{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width: 580px;
    margin: auto;
}
.list_item{
    display: flex;
    list-style: none;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.list_item li{
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-left: 16px;
}
.list_item li:before{
    content: "";
    display: inline-block;
    background-image: url('../Images/icon3.svg');
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}
.list_item li:nth-child(2):before{
    background-image: url('../Images/icon1.svg');
}
.list_item li:nth-child(3):before{
    background-image: url('../Images/icon2.svg');
    margin-right: 7px;
    width: 32px;
}
.list_item li:last-of-type:before{
    background-image: url('../Images/icon4.svg');
    margin-right: 5px;
    width: 10px;
}


/*section_2*/


.what_we_do{
    background-color: black;
    padding-top: 112px;
    padding-bottom: 100px;
}
.what_we_do h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}
.what_we_do p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
}
.text-center{
    text-align: center;
}
.wrap{
    flex-wrap: wrap;
}
.what_we_do .item{
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do .item img{
    display: block;
    width: 100%;
}

.what_we_do .container{
    max-width: 1168px;
}

.what_we_do .item .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.description h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.description p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}
.description a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s;
}
.description a:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}
.description a:hover{
    background: #000;
    color: #FFF;
}
.description a:hover:before{
    background-color: #fff;
}


/*section_3*/


.fuji{
    background-image: url("../Images/IMAGEjap.jpg");
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}
.fuji .container{
    max-width: 298px;
    margin: inherit;
}
.fuji .container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.fuji .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}


/*section_4*/


.costa_rica{
    background-image: url("../Images/IMAGEcosta.jpg");
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}
.costa_rica .container{
    max-width: 273px;
    margin: inherit;
}
.costa_rica .container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.costa_rica .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*section_5*/


.clients{
    background-color: black;
    padding-top: 113px;
    padding-bottom: 140px;
    background-size: cover;
    display: flex;
}
.clients .container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.clients .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.link_clients{
    display: flex;
    align-items: center;
}
.margin_clients{
    margin-right: 109px;
}


/*section_6*/


.nepal{
    background-image: url("../Images/nepal.jpg");
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 71px;
    position: relative;
}
.nepal .container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nepal .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.nepal .container{
    max-width: 260px;
    margin: inherit;
}


/*section_7*/


.help_photo{
    background-color: black;
    padding-top: 113px;
    padding-bottom: 121px;
    background-size: cover;
    display: flex;
}
.help_photo .container h3{
    max-width: 571px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.help_photo .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.help_photo .container a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 220px;
}
.help_photo .container a:before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
    transition: 0.3s;
}
.help_photo .container a:hover{
    background: #000;
    color: #FFFFFF;
}
.help_photo .container a:hover:before{
    background-color: #fff;
}


/*footer*/


.footer{
    padding: 100px 0;
    background-color: black;
    background-size: cover;
    display: flex;
}
.footer .container_block{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer .container_block h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.footer .container_block .first_block{
    max-width: 440px;
    margin-right: 270px;
}
.footer .container_block .first_block a{
    margin-bottom: 20px;
}
.footer .container_block .first_block p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.footer .container_block .second_block{
    max-width: 182px;
    margin-right: 55px;
}
.footer .container_block .second_block a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer .container_block .third_block{
    max-width: 119px;
}
.footer .container_block .third_block a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
footer li{
    margin-bottom: 10px;
}